client
dev tun$dev_id$
proto udp
remote $ip$ $port$
daemon

resolv-retry infinite
nobind

persist-key
persist-tun
pull

ns-cert-type server
ca client_tactics/openvpn/ca3.crt
cert client_tactics/openvpn/client1.crt
key client_tactics/openvpn/client1.key

comp-lzo
verb 4

writepid signpost_vpn_client_$dev_id$

#script-security 2
#ipchange "./ip_write.sh"
