client
dev tun$dev_id$
proto udp
remote $ip$ $port$
daemon

resolv-retry infinite
nobind

persist-key
persist-tun
pull

ns-cert-type server
ca $tmp_dir$/$domain$/ca.crt
cert $tmp_dir$/$domain$/signpost.crt
key $tmp_dir$/$domain$/signpost.key

comp-lzo
verb 4

writepid $tmp_dir$/$domain/client.pid

#script-security 2
#ipchange "./ip_write.sh"
