client
dev tap$dev_id$
proto udp
remote $ip$ $port$
# daemon

resolv-retry infinite
nobind

# mode tap
persist-key
persist-tun
pull

persist-local-ip
persist-remote-ip

# ns-cert-type server
ca $tmp_dir$/$domain$/ca.crt
cert $tmp_dir$/$domain$/vpn.crt
key $tmp_dir$/$domain$/vpn.pem

comp-lzo
verb 4

writepid $tmp_dir$/$domain$/client.pid
log $tmp_dir$/$domain$/client.log


#script-security 2
#ipchange "./ip_write.sh"
