port $port$
proto udp
dev tun$dev_id$
daemon 

ca $tmp_dir$/$domain$/ca.crt
cert $tmp_dir$/$domain$/vpn.crt
key $tmp_dir$/$domain$/vpn.pem
dh client_tactics/openvpn/dh1024.pem

server 10.8.1.0 255.255.255.0
keepalive 10 120
client-to-client
comp-lzo
user nobody
group nobody
persist-key
persist-tun
status openvpn-status.log
verb 4
writepid $tmp_dir$/$domain$/server.pid
log $tmp_dir$/$domain$/server.log

#script-security 3
#client-connect "./client-connect.sh"
