port $port$
proto udp
dev tun$dev_id$
daemon 

ca client_tactics/openvpn/ca3.crt
cert client_tactics/openvpn/signpost.crt
key client_tactics/openvpn/signpost.key
dh client_tactics/openvpn/dh1024.pem

server 10.8.1.0 255.255.255.0
keepalive 10 120
client-to-client
comp-lzo
user nobody
group nobody
persist-key
persist-tun
status openvpn-status.log
verb 4
writepid signpost_vpn_server_$dev_id$

#script-security 3
#client-connect "./client-connect.sh"
